#main {
  width:50px;
  position: fixed;
  left:150px;
  rigth: 0;





}
.box {
  width: 50px;
  height: 50px;
  color: white ;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
}

#facebook {
  background-color: rgb(59,89,152);
}

#twitter {
  background-color: rgb(29,161,242);
  position:relative;
}

#mail {
  background-color: rgb(132,132,132);
}

#printer {
  background-color: rgb(115,138,141);
}

#more{
  background-color: red;
}
