/*
body {
  background-color: red;
} */

* {
  font font-family: courier ;

}

#container-image img {
  width: 300px ;
}


#purple {
  color:purple ;
}
#red {
  color: red;
}

#green {
   color:green;
}

#blue{
  color: blue;
}

.title {
  font-family: sans-serif;
  color: purple;
}
