
header {
  position: relative;
  height: 150px;
  background: red;
}

figure {
   position:absolute;
   margin:3px solid green;
   font-size: 30px;

}

.caja-input {
  position:relative;
  background: yellow;
  display: inline-block;
  float: left;
}

.caja-3elementos {
    display: inline-block;
    background: red;
   left: 500px;
   position:absolute;
   float: left;
}

.caja-pins {
  background: gray;
  position: absolute;
  float:left;
  font-size: 20px;
}

.lupa {
   position: absolute;
   float:left;
   left : 200px;
}

.nav {
  display: inline-block;
   position:absolute;
    float:left;
    left: 700px;
}

.sub-menu {
   position:relative;
   top: 90px;
   left: 40px;
}

button {
  display: inline-block;
}
